doctype html
html
    head
        title Spotify Visualization
        link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
        link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type = "text/css", href = "../components-font-awesome/css/font-awesome.css")
        link(rel="stylesheet" type = "text/css", href = "../jquery-bar-rating/dist/themes/fontawesome-stars.css")
    body
        p(style="color:red") If you cannot see this page properly, please refresh the page.
        p Welcome #{data.id} &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-primary(href='/logout' role="button") Log Out
            a(class="questionnaire" id="nasa-t3" target="_blank" href="https://goo.gl/forms/GmMx7mRraiYlMT103") Questionnaire for Task 3
            br
            a(class="questionnaire2" id="recsysque" target="_blank" href="https://goo.gl/forms/XUfeawEX3KHdoS3H3") Questionnaire for Recommendations

        div.row
            div.col-md-3.sub-block
                h4 Recommendations source
                div.seed.customized-scroll#artist-div
                    h5 The top artists you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#artist-refresh
                    div#artist-seed
                div#follow-div
                    h5 The artists you follow&nbsp&nbsp&nbsp&nbsp
                    div#artist-follow
                div.seed.customized-scroll#track-div
                    h5 The top tracks you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#track-refresh
                    div#track-seed
                div.seed.customized-scroll#genre-div
                    h5 The top genres you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#genre-refresh
                    div#genre-seed
                div.loading#initial-loading

            div.col-md-5.sub-block
                h4 Recommendations Processor
                form
                    div#radio
                        input#radio-1(type="radio" name="radio" value="seed" checked="checked")
                        label(for="radio-1") &nbsp&nbspSeed based&nbsp&nbsp
                        input#radio-2(type="radio" name="radio" value="artist")
                        label(for="radio-2") &nbsp&nbspArtist based&nbsp&nbsp
                        //input#radio-3(type="radio" name="radio" value="hybrid")
                        //label(for="radio-3") &nbsp&nbspHybrid&nbsp&nbsp
                br
                div#artist-block
                    //h6 Selected artist tags
                    div.drop-block-h
                        div#drop-sim-artists
                        div.customized-scroll#similar-artists
                            p Related artists of the selected artists
                        div.loading.narrow-loading
                    div.details-narrow
                    //div#network-chart
                        //svg
                        div#sim-artists-vis
                div#seed-block
                    div.drop-block
                        h6 Weight of selected artists
                        input.bootstrap-slider#artist-weight(type="text" value="0" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-id="artist-weight" data-slider-tooltip="hide" data-slider-handle="round")
                        div.drop-seeds#drop-artists
                        h6 Weight of selected tracks
                        input.bootstrap-slider#track-weight(type="text" value="0" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-id="track-weight" data-slider-tooltip="hide" data-slider-handle="round")
                        div.drop-seeds#drop-tracks
                        h6 Weight of selected genres
                        input.bootstrap-slider#genre-weight(type="text" value="0" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-id="genre-weight" data-slider-tooltip="hide" data-slider-handle="round")
                        div.drop-seeds#drop-genres
                    div.details
                //div#hybrid-block
                //    div#slider-title
                //        label Seed based
                //        label Artist based
                //    div#wg-slider

            div.col-md-3.sub-block
                h4 Recommendations
                label The top 20 songs
                //label Number &nbsp
                //select#number(name="number")
                //    option 30
                //    option(selected="selected") 45
                //    option 60
                //    option 75
                label &nbsp&nbsp&nbsp&nbsp Sort by &nbsp
                select#rank(name="rank")
                    option default
                    option popularity
                div.recom.customized-scroll
                    div#recom-seeds
                    div#recom-followers
                    div.loading#result-loading

        script(type = "text/javascript", src = "../jquery/dist/jquery.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../jquery-ui/jquery-ui.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../d3/d3.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../jquery-bar-rating/dist/jquery.barrating.min.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../seiyria-bootstrap-slider/dist/bootstrap-slider.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/data-vis.js", charset = 'utf-8')

        link(rel="stylesheet" type = "text/css", href = "../jquery-ui/themes/base/jquery-ui.css")
        link(rel="stylesheet" type = "text/css", href = "../seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
        link(rel="stylesheet" type = "text/css", href = "../stylesheets/style.css")