doctype html
html
    head
        title Spotify Visualization
        link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
        link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type = "text/css", href = "../components-font-awesome/css/font-awesome.css")
        link(rel="stylesheet" type = "text/css", href = "../jquery-bar-rating/dist/themes/fontawesome-stars.css")
    body
        p Welcome #{data.displayName} &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-primary(href='/logout' role="button") Log Out
        div.row
            div.col-md-3.sub-block
                h4 Recommendations source
                div.seed.customized-scroll#artist-div
                    h5 The top artists you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#artist-refresh
                    div#artist-seed
                div.seed.customized-scroll#track-div
                    h5 The top tracks you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#track-refresh
                    div#track-seed
                div.seed.customized-scroll#genre-div
                    h5 The top genres you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#genre-refresh
                    div#genre-seed
                div.loading#initial-loading

            div.col-md-5.sub-block
                h4 Recommendations Processor
                    span#track-attribute Track attributes&nbsp&nbsp
                    i.fa.fa-sliders(aria-hidden="true" data-toggle="modal" data-target="#myModal")

                br
                #confirm-audio
                    h3 Setting the track attributes for new recommendations ...
                #seed-block
                    #myModal.modal.fade(role='dialog')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal') ×
                                    h4.modal-title Tuneable Track attributes
                                .modal-body
                                    //a(href="#" data-toggle="tooltip" data-placement="right" title="A confidence measure from 0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.") Acousticness range:&nbsp
                                    //span#acousticness-weight-val
                                    //input.span2#acousticness(type="text" data-slider-id='acousticness' value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="[0,1]")

                                    a(href="#" data-toggle="tooltip" data-placement="right" title="Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0 is least danceable and 1.0 is most danceable.") Danceability range:&nbsp
                                    span#danceability-weight-val
                                    input.span2#danceability(type="text" data-slider-id='danceability' value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="[0,1]")

                                    a(href="#" data-toggle="tooltip" data-placement="right" title="Energy is a measure from 0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.") Energy range:&nbsp
                                    span#energy-weight-val
                                    input.span2#energy(type="text" data-slider-id='energy' value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="[0,1]")

                                    //a(href="#" data-toggle="tooltip" data-placement="right" title="Predicts whether a track contains no vocals. \"Ooh\" and \"aah\" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly \"vocal\". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.") Instrumentalness range:&nbsp
                                    //span#instrumentalness-weight-val
                                    //input.span2#instrumentalness(type="text" data-slider-id='instrumentalness' value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="[0,1]")

                                    //a(href="#" data-toggle="tooltip" data-placement="right" title="Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.") Liveness range:&nbsp
                                    //span#liveness-weight-val
                                    //input.span2#liveness(type="text" data-slider-id='liveness' value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="[0,1]")

                                    //a(href="#" data-toggle="tooltip" data-placement="right" title="The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.") Loudness range:&nbsp
                                    //span#loudness-weight-val
                                    //input.span2#loudness(type="text" data-slider-id='loudness' value="" data-slider-min="-60" data-slider-max="0" data-slider-step="1" data-slider-value="[-60,0]")

                                    a(href="#" data-toggle="tooltip" data-placement="right" title="Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.") Speechiness range:&nbsp
                                    span#speechiness-weight-val
                                    input.span2#speechiness(type="text" data-slider-id='speechiness' value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="[0,1]")

                                    a(href="#" data-toggle="tooltip" data-placement="right" title="A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).") Valence range:&nbsp
                                    span#valence-weight-val
                                    input.span2#valence(type="text" data-slider-id='valence' value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="[0,0.8]")

                                    //a(href="#" data-toggle="tooltip" data-placement="right" title="Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.") Mode range:&nbsp
                                    //span#mode-weight-val
                                    //input.span2#mode(type="text" data-slider-id='mode' value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="[0,1]")
                                .modal-footer
                                    button.btn.btn-default#btn-audio(type='button', data-dismiss='modal') Confirm

                    div.drop-block
                        h6 Weight of selected artists:&nbsp
                            span#artist-weight-val
                        input.bootstrap-slider#artist-weight(type="text" value="50" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-id="artist-weight" data-slider-handle="round")
                        div.drop-seeds#drop-artists
                        h6 Weight of selected tracks:&nbsp
                            span#track-weight-val
                        input.bootstrap-slider#track-weight(type="text" value="50" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-id="track-weight" data-slider-handle="round")
                        div.drop-seeds#drop-tracks
                        h6 Weight of selected genres:&nbsp
                            span#genre-weight-val
                        input.bootstrap-slider#genre-weight(type="text" value="50" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-id="genre-weight" data-slider-handle="round")
                        div.drop-seeds#drop-genres
                    div.details
            div.col-md-4.sub-block
                h4 Recommendations
                label The top 20 songs
                div.recom.customized-scroll
                    div#recom-seeds
                    div.loading#result-loading
        script(type = "text/javascript", src = "../jquery/dist/jquery.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../jquery-ui/jquery-ui.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../seiyria-bootstrap-slider/dist/bootstrap-slider.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../bootstrap/dist/js/bootstrap.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../js/data-vis.js", charset = 'utf-8')

        link(rel="stylesheet" type = "text/css", href = "../jquery-ui/themes/base/jquery-ui.css")
        link(rel="stylesheet" type = "text/css", href = "../seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
        link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type = "text/css", href = "../stylesheets/style.css")