extends ./layout

block content
    if !data
        h2 Welcome! Please log in.
        p
            a(href='/auth/spotify') login
    else
        div.row
            div.col-md-3.sub-block
                h4 Recommendations source
                div.seed#artist-div
                    h5 The top artists you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#artist-refresh
                    div#artist-seed
                div.seed#follow-div
                    h5 The artists you follow&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#follow-refresh
                    div#artist-follow
                div.seed#track-div
                    h5 The top tracks you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#track-refresh
                    div#track-seed
                div.seed#genre-div
                    h5 The top genres you have&nbsp&nbsp&nbsp&nbsp
                        i.fa.fa-plus-circle#genre-refresh
                    div#genre-seed
            div.col-md-5.sub-block
                h4 Recommendations Processor
                form
                    div#radio
                        input#radio-1(type="radio" name="radio" value="seed" checked="checked")
                        label(for="radio-1") Seed based
                        input#radio-2(type="radio" name="radio" value="artist")
                        label(for="radio-2") Artist based
                        input#radio-3(type="radio" name="radio" value="hybrid")
                        label(for="radio-3") Hybrid
                br
                br

                div#artist-block
                    div.drop-block
                        h6 Selected artist tags
                        div#drop-sim-artists
                    div#network-chart
                div#seed-block
                    div.drop-block
                        h6 Selected artist tags
                        div#drop-artists
                        h6 Selected track tags
                        div#drop-tracks
                        h6 Selected genre tags
                        div#drop-genres
                    div#details

                div#hybrid-block
                    div#slider-title
                        label Seed based
                        label Artist based
                    div#wg-slider

            div.col-md-3.sub-block
                h4 Recommendations
                label Number &nbsp
                select#number(name="number")
                    option 10
                    option 20
                    option 50
                    option 100
                label &nbsp&nbsp&nbsp&nbsp Sort by &nbsp
                    select#number(name="sort")
                        option popularity
                        option relevance
                        option genre
                div.recom
                    div.sortable#recom-seeds

                //h4.bg-info Recommendations
                //label Number of results &nbsp
                //select#number(name="number")
                //    option 10
                //    option 20
                //    option 50
                //    option 100
                //label &nbsp&nbsp&nbsp&nbsp Sort by &nbsp
                //    select#number(name="sort")
                //        option popularity
                //        option relevance
                //        option genre
                //div.recom
                //    div#recom-artist
                //        ul.none.sortable#recom-artists