extends ./layout

block content
    if !data
        h2 Welcome! Please log in.
        p
            a(href='/auth/spotify') login
    else
        div.row
            div.col-md-2
                h4 The top artists you have
                div.seed
                    ul.none#artists
                h4 The artists you follow
                div.seed
                    ul.none#follow-artists
                h4 The top tracks you have
                div.seed
                    ul.none#tracks
                h4 The top genres you have
                div.seed
                    ul.none#genres
            div.col-md-6
                h4 Seeds based recommendations
                label Weight
                div#wg-slider.top-space
                    div#custom-handle.ui-slider-handle
                div.row.top-space
                    div.col-md-4
                        p Artist seeds
                        div.seed-block#sel-artists
                    div.col-md-4
                        p Track seeds
                        div.seed-block#sel-tracks
                    div.col-md-4
                        p Genre seeds
                        div.seed-block#sel-genres
                h4 Artists based recommendations
                label Weight
                div#wg-slider-2.top-space
                    div#custom-handle-2.ui-slider-handle
                div.row.top-space
                    div#artist-block
                        svg(width="100%" height="100%")
            div.col-md-4
                h4 Seeds based recommendations
                div.recom
                    div#recom-seed
                        ul.none.sortable#recom-seeds
                h4 Artists based recommendations
                label Number of recommendations
                select#number(name="number")
                    option 10
                    option 20
                    option 50
                    option 100
                div.recom
                    div#recom-artist
                        ul.none.sortable#recom-artists