doctype html
html
  head
    title Spotify Visualization
    link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type = "text/css", href = "../components-font-awesome/css/font-awesome.css")
    link(rel="stylesheet" type = "text/css", href = "../jquery-bar-rating/dist/themes/fontawesome-stars.css")
  body
    if !data
      div#login-page
          div#intro
              p Welcome to participate our study. Please note you need to be a frequent or heavy user of Spotify, otherwise the system cannot generate recommendations for you. Thank you.
              br
              p A tutorial video will play before each task. So please pay attemtntion to watch the tutorial before starting your task. After you will be guided to finish a questionnaire.
              p In this study, we aim to get your perceived quality of recommended songs and measure your cognitive load while using our system.
              p Our study will provide recommendations to you with three different setting ups. You will be asked to play with each setting up and rate the top 20 recommended songs in the end.
              br
              br
              a.btn.btn-primary.btn-lg(href='/auth/spotify' role="button") Please log in to Spotify to start :)
    else
      p Welcome #{data.displayName} &nbsp&nbsp&nbsp&nbsp
        a.btn.btn-primary(href='/logout' role="button") Log Out

      block content

    script(type = "text/javascript", src = "../jquery/dist/jquery.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../jquery-ui/jquery-ui.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../seiyria-bootstrap-slider/dist/bootstrap-slider.js", charset = 'utf-8')

    link(rel="stylesheet" type = "text/css", href = "../jquery-ui/themes/base/jquery-ui.css")
    link(rel="stylesheet" type = "text/css", href = "../seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
    link(rel="stylesheet" type = "text/css", href = "../stylesheets/style.css")