doctype html
html
  head
    title Spotify Visualization
    link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type = "text/css", href = "../components-font-awesome/css/font-awesome.css")
    link(rel="stylesheet" type = "text/css", href = "../jquery-bar-rating/dist/themes/fontawesome-stars.css")
  body
    if !data
      div#login-page
          div#intro
              p Please note you need to be a frequent or heavy user of Spotify, otherwise the system cannot generate recommendations for you. Thank you.
              br
              p Welcome to participate our study. We use the Spotify API to design this music recommender system that provides you with suggestions of songs based on your interests. The system consists of two visualisations which allow you to interact with the recommender system to explore good songs.
              p In this study, we aim to get your perceived quality of recommended songs and measure your cognitive load while using our system.
              p Our study will provide recommendations to you with three different setups. You will be asked to play songs within each setting and to rate the top 20 recommended songs in the end.
              br
              br
              a.btn.btn-primary.btn-lg(href='/auth/spotify' role="button") Please log in to Spotify to start :)
    else
      p Welcome #{data.displayName} &nbsp&nbsp&nbsp&nbsp
        a.btn.btn-primary(href='/logout' role="button") Log Out

      block content

    script(type = "text/javascript", src = "../jquery/dist/jquery.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../jquery-ui/jquery-ui.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../seiyria-bootstrap-slider/dist/bootstrap-slider.js", charset = 'utf-8')

    link(rel="stylesheet" type = "text/css", href = "../jquery-ui/themes/base/jquery-ui.css")
    link(rel="stylesheet" type = "text/css", href = "../seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
    link(rel="stylesheet" type = "text/css", href = "../stylesheets/style.css")