doctype html
html
  head
    title Passport-Spotify Example
  body
        if !user
          p
            a(href='/spotify') Home
            a(href='/spotify/login') Log In
        else
          p
            a(href='/spotify') Home
            a(href='/spotify/account') Account
            a(href='/spotify/logout') Log Out
        block content
