doctype html
html
    head
        title Spotify Visualization
        link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
        script.
            var path = window.localStorage.path;
            if (path == "/login-s2")
                window.location.href = '/login-s2';
            else if (path == "/login-s3")
                window.location.href = '/login-s3';
            else if (path == "/login-s4")
                window.location.href = '/login-s4';
            else if (path == "/login-s5")
                window.location.href = '/login-s5';
            else if (path == "/login-s6")
                window.location.href = '/login-s6';
            else if (path == "/login-s7")
                window.location.href = '/login-s7';
            else if (path == "/login-s8")
                window.location.href = '/login-s8';
    body