doctype html
html
  head
    title Spotify Visualization
    link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
    link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type = "text/css", href = "../components-font-awesome/css/font-awesome.css")
    link(rel="stylesheet" type = "text/css", href = "../jquery-bar-rating/dist/themes/fontawesome-stars.css")
  body
      div#login-page
          div#tutorial
              h4 Task 1: Modify the recommendation results
              p You could sort the recommended songs by the popularity in section C). By clicking a song title, you will be redirected to the song page to listen it. After that please rate the songs. Please make sure that you have listened and rated all of top 20 songs.
              iframe(width="560" height="315" src="https://www.youtube.com/embed/8KfwJWr6sjg?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen)

          a.btn.btn-primary.btn-lg(href='/g1-1' role="button") Start task 1

    script(type = "text/javascript", src = "../jquery/dist/jquery.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../jquery-ui/jquery-ui.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../seiyria-bootstrap-slider/dist/bootstrap-slider.js", charset = 'utf-8')

    link(rel="stylesheet" type = "text/css", href = "../jquery-ui/themes/base/jquery-ui.css")
    link(rel="stylesheet" type = "text/css", href = "../seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
    link(rel="stylesheet" type = "text/css", href = "../stylesheets/style.css")