doctype html
html
    head
        title Spotify Visualization
        link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
        link(rel="stylesheet" type = "text/css", href = "../bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" type = "text/css", href = "../components-font-awesome/css/font-awesome.css")
        link(rel="stylesheet" type = "text/css", href = "../jquery-bar-rating/dist/themes/fontawesome-stars.css")
    body
        div#login-page
            div#intro
                h4 Task 3: Modify the recommendation results, recommendation source, and recommendation algorithm
                p Please watch the following tutorial before the task. The link of task will be shown after the video.
                p Please listen the music and rate all the top 20 recommended songs After trying the system.
                p(style="color:red") To ensure you have tried and rated all songs, the questionnaire link only will be shown after 6 minutes at right top corner.
                div#player

            a.btn.btn-primary.btn-lg(href='/g3-3' role="button" style="display:none") Start task 3
        script.
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                    videoId: 'kb1__jztwYg',
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }
            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                //event.target.playVideo();
            }
            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.ENDED) {
                    $("a.btn.btn-primary.btn-lg").show()
                }
            }
        script(type = "text/javascript", src = "../jquery/dist/jquery.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../jquery-ui/jquery-ui.js", charset = 'utf-8')
        script(type = "text/javascript", src = "../seiyria-bootstrap-slider/dist/bootstrap-slider.js", charset = 'utf-8')

        link(rel="stylesheet" type = "text/css", href = "../jquery-ui/themes/base/jquery-ui.css")
        link(rel="stylesheet" type = "text/css", href = "../seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
        link(rel="stylesheet" type = "text/css", href = "../stylesheets/style.css")